    <footer class="footer-distributed">

        <div class="footer-left">
  
          <h3><img src="../images/LOGO.png" alt="Girl in a jacket" width="400" height="100"></h3>
  
          <p class="footer-links">
            <a href="#">Home</a>
            ·
            <a href="#">Blog</a>
            ·
            <a href="#">Pricing</a>
            ·
            <a href="#">About</a>
            ·
            <a href="#">Faq</a>
            ·
            <a href="#">Contact</a>
          </p>
  
          
        </div>
  
        <div class="footer-center">
  
          <div>
            <i class="fa fa-map-marker"></i>
            <p><span>今天花园</span> 火星 哇哈哈哈哈哈哈哈</p>
          </div>
  
          <div>
            <i class="fa fa-phone"></i>
            <p>+2178192390</p>
          </div>
  
          <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:denghanfei1997@gmail.com">denghanfei1997@gmail.com</a></p>
          </div>
  
        </div>
  
        <div class="footer-right">
  
          <p class="footer-company-about">
            <span>About the company</span>
            你好吗我很好 哈哈哈哈好
          </p>
  
          <div class="footer-icons">
  
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>
  
          </div>
  
        </div>
        
</footer>
<div class="footer">&copy eXtreme Hunter   |   <a href="/privacy">Privacy Statement</a>   |  <a href="/termofuse">Terms of Use</a></div>
